header{
    background-color: darkgrey;
    color: darkgreen;
    display: flex;
    align-items: center;

}
header h1{
    background-color: darkgreen;
    color: black;
    display: inline;
    margin-left: 40px;
}
header ul{
    color: darkgreen;
    font-style: underline;
    display: flex;
    margin-left: auto;
    list-style: none;
    margin-right: 10em;
}
header ul li{
    
    font-size: larger;
    margin-right: 4em;
    text-decoration-line:underline;
}
.banner{
    background-image: url("https://placedog.net/500");
    height: 140px;
    7
}
body{

    color: blue;
}

.main-section{
    display: flex;
    
}

.main-section h2{
    flex-direction: column;
    border-color: black;
    border-right-style: solid;
    border-width: 5px;
    padding-right: 8px;
    align-items: center;
    flex-basis: 10%;
    color: darkgreen;
    flex-shrink: 0;
}

.main-section p{
    margin-left: 4rem;
}
.bio{
    color: darkgreen;
}
.pic-box{
    display:flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-left: 2em;
    
}

.work-boxes-large{
    border: 5px solid cornflowerblue;
    margin-left: 0em;
    margin-bottom: 2em;
    height: 140px;
    flex-basis: 100%;
    background-image: url("https://baconmockup.com/500/200");
}
.work-boxes-small{
    border: 5px solid cornflowerblue;
    margin-left: 0em;
    margin-right: 1em;
    margin-bottom: 1em;
    height: 140px;
    flex-basis: 45%;
    background-image: url("https://placekitten.com/200/300");
}
.contacts{
    color: darkgreen;
    font-style: underline;
    display: flex;
    margin-left: auto;
    list-style: none;
    margin-right: 10em;
}
.contacts li{
    font-size: larger;
    margin-right: 4em;
    text-decoration-line:underline;
}